.form-switch .form-check-input{
    width:2.5em;
    height:1.5em;
}

.date-picker{
    border:1px solid #ced4da;
    border-radius: 8px;
    outline:none;
}

.invalid {
    border: 1px solid red;
  }

@media(max-width:300px){
    .text-end button{
        padding:5px 20px;
    }
}