
<div class="form-details">
    <h2 class="header_tag">Create New Todo</h2>
    <br>
  
    <form [formGroup]="todosForm" >
        <div class="row"> 
            <div class="col-md-2">
                <label>Title :</label>              
            </div>
            <div class="col-md-10">
                <textarea  class="form-control input-lg" [class.invalid]="this.submitted && !todosForm.controls['title'].valid" rows="3" cols="55" name="comment" value="" formControlName="title" placeholder="Enter the task" ></textarea>
            </div>
        </div>
        <br>
        <div class="row" > 
            <div class="col-md-2">
              <label>Priority :</label>            
            </div>
            <div class="col-md-10" >
                <select class="form-control input-lg  p-2"  formControlName="priority">                            
                    <option *ngFor="let item of priorityData" [value]="item.priority">{{item.name}} </option>
                   
                </select>  
            </div> 
        </div> 
        <br>
        <div class="row">
            <div class="col-md-2">
                <label for="date" class="">Date :</label>
            </div>
            <div class="col-md-10">
                 <input type="Date" class="date-selector w-100 p-2 border-1 date-picker" [class.invalid]="this.submitted && !todosForm.controls['date'].valid" formControlName="date" >
            </div>
        </div>
        <br>
        <div class="row align-items-center">
            <div class="col-sm-2 col-4">
                <label class="form-check-label" for="flexSwitchCheckDefault">Done :</label>
            </div>
            <div class="col-4">
                <div class="form-check form-switch">       
                    <input class="form-check-input" type="checkbox" formControlName="done" role="switch" id="flexSwitchCheckDefault" />                 
                </div>

            </div>
        </div>
       
    </form>
    
    <br>
        <div class="text-end">
            <button  type="button" class="btn btn-primary" (click)="addData(todosForm.value)">Add Task</button>
            <button type="button" class="btn btn-secondary ms-3" (click)="backData()">Back</button>    
        </div>
</div>

