<div class="bg-dark text-light py-5">
  <div class="container w-limited row m-0 mx-md-auto">
    <div class="col-6">
      <a class="fw-bold text-white me-auto" routerLink="/">
        <div>Todo Assignment</div>
        <div class="small text-secondary">by ZipHR</div>
      </a>
    </div>
    <div class="col-6 d-flex align-items-center justify-content-end">
      <a class="btn btn-primary me-2" routerLink="/new">Create</a>
      <a class="btn btn-primary" routerLink="/">Todos</a>
    </div>
  </div>
</div>

<div class="container w-limited py-5">
  <router-outlet></router-outlet>
</div>
